
body{
    background-color:#1d3548;
    padding: 0;
    margin: 0;
}
.card{
    height: 450px;
    width: 350px;
    background: linear-gradient(#04508f ,#2196f3 30%, #335e83 30%, #162836);
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    box-shadow: 0 0 25px 10px rgba(0,0,0,0.75);
}
.info{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
}


.name{
    font-size: 28px;
    font-family: "Raleway",sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    top:190px;
}
.prof{
    color: cyan;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    position: absolute;
    top:235px;
}
.divider{
    height: 1.5px;
    width: 170px;
    background-color: #949594;
    position: absolute;
    top:280px;
}
.bio{
    color: #c5cac5;
    font-family: 'Work Sans', sans-serif;
    font-size:18px;
    line-height: 28px;
    text-align: center;
    position: absolute;
    bottom:75px;
}


.icons{
    position: absolute;
    display: flex;
    bottom: 17px;
    left: 40px;
}

.icons li{
    list-style: none;
    padding-right: 28px;
}


.icons li a{
    width: 40px;
    height: 40px;
    color:#fff ;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#294d69;
    border-radius: 50%;
    text-decoration: none;
    transition: 1s;

}

.icons li a:hover{
    transform: rotate(360deg);
    
}

.profile{
    height: 150px;
    width: 150px;
    top:33px;
    left:93px;
    border-radius: 50%;
    border: 3px solid #1d3548;
    position: absolute;
    
}


.profile:hover{
    transform: scale(1.5,1.5) translateY(-35px);
    transition: ease-out;
    border-radius: 1px;
    transition-duration: 0.3s;
}
